.error{
    font-weight: bold;
    color:red;
}
.success{
    font-weight: bold;
    color:green;
}
.mg-top-sm{
    margin-top: 10px;
}
img.center {
    display: block;
    margin: 0 auto;
}
#logo-ads{
    width: 100%;
}
#logo-container{
    float:left;
}
.left{
    float:left;
}
#login-modal{
    width: 30%;
    min-width: 300px;
}
#loading-container{
    background-color: rgba(224,242,241,0.5);
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1004;
}
#loading{
    /*background-color: blue;*/
    position: absolute;
    left: 0;
    right: 0;
    width: 30%;
    margin: 0 auto;
    z-index: 1004;
}
img.center {
    display: block;
    margin: 0 auto;
}
#products-search{
    /*    border: 0 none;
        display: block;
        font-size: 16px;
        font-weight: 300;
        height: 55px;
        margin: 0;
        padding: 0 45px 0 15px;*/
    /*width: 100%;*/
}
.bottom-radius{
    border-radius: 0 0 10px 10px;
}

nav .brand-logo {
    margin-left: 20px;
}
nav form {
    margin-left: 180px;
    width: 300px;
}
.none{
    display: none;
}
#container-vocequisdizer{
    font-size: 1.3em;
}
#vocequisdizer{
    font-size: 1.5em;
}
.slider{
    max-height: 200px !important;
}